/*--------General styles------------*/
body {
  color: var(--NAVY-BLUE, #434455);
  background-color: #fff;
  font-family: Roboto, sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.photo-card {
  background-color: #ffffff;
}
img {
  display: block;
}
.container {
  padding: 0 15px;
}
.link {
  padding: 24px 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*--------General styles------------*/

/*=======Styles for mobile=========*/

/*--------Header styles------------*/
.header-item {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  display: none;
}
.adr {
  display: none;
}
.logo {
  color: #404bbf;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.022em;
  text-transform: uppercase;
}
.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
}

/*--------Header styles------------*/

/*--------Hero styles------------*/
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  padding: 72px 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: var(--NAVY-BLUE, #2e2f42);
}
.title-main {
  max-width: 288px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  padding: 0 32px;
}
.button-main {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  justify-content: center;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.025em;
  background-color: var(--IRIS, #4d5ae5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main:hover,
.button-main:focus {
  background-color: var(--OCEAN, #404bbf);
}
/*--------Hero styles------------*/
@media screen and (min-width: 480px) {
  .container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .header-button {
    border: none;
    background-color: transparent;
    padding: 0;
    fill: #2f2f37;
    width: 24px;
    height: 24px;
    line-height: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    padding-left: 16px;
    padding-bottom: 40px;
    padding-right: 24px;
    transform: translateX(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    transform: translateX(0%);
  }
  .mobile-menu-container {
    position: relative;
  }
  .mobile-menu-button-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    top: 24px;
    right: 8px;
    width: 24px;
    height: 24px;
    padding: 0px;
    line-height: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-icon-close {
    stroke: #2e2f42;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-button-close:focus,
  .mobile-menu-button-close:hover {
    background-color: #404bbf;
    border: none;
    stroke: #fff;
  }

  .mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
    padding-top: 70px;
  }
  .mobile-menu-nav-item {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .mobile-menu-nav-item .link:hover,
  .mobile-menu-nav-item .link:focus {
    color: var(--OCEAN, #404bbf);
  }
  .adress-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }
  .adress-mobile-item {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .adress-mobile-item .link:focus,
  .adress-mobile-item .link:hover {
    color: var(--OCEAN, #404bbf);
  }
  .social-list {
    display: flex;
    gap: 40px;

    justify-content: space-around;
    align-items: center;
  }
  .social-item {
    width: 40px;
    height: 40px;
  }
  .social-icon {
    fill: #f4f4fd;
  }
  .link-social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: #4d5ae5;
  }
  .link-social:hover,
  .link-social:focus {
    background-color: #404bbf;
  }
}
/*=======Styles for mobile=========*/

/*=======Styles for tab=========*/
@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  /*--------Header styles------------*/
  .header-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .logo {
    margin-right: 120px;
  }
  .nav-item {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-item .link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
  }
  .first-link .link {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .first-link .link::after {
    content: "";
    width: 100%;
    color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .nav-item .link:hover,
  .link:focus {
    color: var(--OCEAN, #404bbf);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
  }
  .adr {
    display: flex;
  }
  .adr-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-list {
    color: var(--SLATE, #434455);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  /*--------Header styles------------*/

  /*--------Hero styles------------*/
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-tab.jpg");
    padding: 112px 0;
    align-items: center;
  }
  .title-main {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    padding: 0;
  }
}
/*--------Hero styles------------*/
/*=======Styles for tab=========*/

/*=======Styles for desctop=========*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  /*--------Header styles------------*/
  .logo {
    margin-right: 76px;
  }
  .nav-item {
    margin-right: 332px;
  }
  .adr-item {
    flex-direction: row;
    gap: 40px;
  }

  /*--------Header styles------------*/
  /*--------Hero styles------------*/
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-desctop.jpg");
    padding: 188px 0;
    align-items: center;
  }
  .title-main {
    margin-bottom: 48px;
  }
}
/*--------Hero styles------------*/
/*=======Styles for desctop=========*/
